
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
text-decoration: none;
font-family: "Inter", sans-serif;
}
:root {
    --main-color: #ff8716;
    --p-color: #7b7b7b;
    --bg-color: #f3f3f3;
    --white-color: #fff;
    --color-heading: #121416;
    --border-color: #E5E5E5D5;
    --sale-color: #e51a1a;
}
span{
color: var(--main-color);
}
p{
color: var(--p-color);
}
h1,h2,h3,h4,h5,h6{
color: var(--color-heading);
font-family: 'DM Sans', sans-serif;
}
img{
    width: 100%;
}
input,select,button{
   border: none;
   outline: none;
}
.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    display: flex;
    padding: 10px 18px;
    text-transform: capitalize;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white-color);
    gap: 10px;
    align-items: center;
    transition:0.3s ;
}
btn:hover{
    scale: 1.1;
}

.container{
    width: 90%;
    max-width : 1350px ;
    margin: auto
 
}

/* header */
header{
    background-color: white;
    position: fixed;
   top: 0;
   left: 0;
   right: 0;
   box-shadow: 5px 8px 8px #d1d1d13B;
}
header .top_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
header .top_header .logo{
    width: 140px;
}
header .top_header .search_box{
    width: 600px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg-color);
}
header .top_header .search_box input{
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    
    background-color: var(--bg-color);
}
header .top_header .search_box .select_box{
  position: relative;
}
header .top_header .search_box .select_box::after{
    content: ' ';
    position: absolute;
    right: 0;
    top: 50%;
     transform: translateY(-50%);
    width: 1px;
    height: 50%;
background-color:  #b9b9b9;
} 
header .top_header .search_box select{
    height: 55px;
    width: 200px;
   background: var(--bg-color);
font-size: 16px;
cursor: pointer;
padding-left: 10px;
padding-right: 10px;    
}
header .top_header .search_box button{
    height: 55px;
width: 60px;
background-color: var(--main-color);
font-size: 18px;
cursor: pointer;
}
header .top_header .search_box button i{
    color: white;
}
header .top_header .header_icons{
    display: flex;
    gap: 30px;
}
header .top_header .header_icons .icon{
    position: relative;
    cursor: pointer;
}
header .top_header .header_icons .icon i{
    font-size: 24px;
}
header .top_header .header_icons .icon .count{
    position:absolute ;
    top: -10px ;
    right: -10px;
    width: 20px; ;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 100%;
}
header .bottom_header {
    border-top: 1px solid var(--border-color);
}
header .bottom_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header .bottom_header nav {
display: flex;
align-items: center;
gap: 50px;
height: 60px;
}
header .bottom_header .category_nav{
   width: 220px;
   height: 100%;
   position: relative;
}
header .bottom_header .category_nav .category_btn{
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--main-color);
padding: 0 15px;
cursor: pointer;
}
header .bottom_header .category_nav .category_btn p{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
header .bottom_header .category_nav .category_btn i{
    color: white;
}

header .bottom_header .category_nav .category_nav_list{
    
position: absolute;
top: 100%;
left: 0;
width:100% ;
border: 1px solid #999;
border-top: 0;
display: flex;
flex-direction: column;
clip-path: polygon( 0 0,100% 0,100% 0 ,0 0);
transition: 0.3s ease-in-out ;
}
header .bottom_header .category_nav .category_nav_list.active{
    clip-path: polygon( 0 0,100% 0,100% 100% ,0 100%);
}
header .bottom_header .category_nav .category_nav_list a{
padding: 14px 10px ;
border-bottom: 1px solid var(--border-color);
font-size: 14px;
color: var(--color-heading);
}
header .bottom_header .category_nav .category_nav_list a:last-child{
    border-bottom: 0;
}
header .bottom_header .category_nav .category_nav_list a:hover{
background-color: #d0d0d0;
}









header .bottom_header .nav_links {
display: flex;
gap: 35px;
}
header .bottom_header .nav_links li a {
    color: var(--color-heading);
    transition: 0.3s;
} 
header .bottom_header .nav_links li.active a,
header .bottom_header .nav_links li:hover a{

    color: var(--main-color);
}