
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
text-decoration: none;
font-family: "Inter", sans-serif;
}
body{
    padding-top: 180px;
}
:root {
    --main-color: #ff8716;
    --p-color: #7b7b7b;
    --bg-color: #f3f3f3;
    --white-color: #fff;
    --color-heading: #121416;
    --border-color: #E5E5E5D5;
    --sale-color: #e51a1a;
}
span{
color: var(--main-color);
}
p{
color: var(--p-color);
}
h1,h2,h3,h4,h5,h6{
color: var(--color-heading);
font-family: 'DM Sans', sans-serif;
}
img{
    width: 100%;
}
input,select,button{
   border: none;
   outline: none;
}
.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    display: flex;
    padding: 10px 18px;
    text-transform: capitalize;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white-color);
    gap: 10px;
    align-items: center;
    transition:0.3s ;
}
btn:hover{
    scale: 1.1;
}

.container{
    width: 90%;
    max-width : 1350px ;
    margin: auto
 
}

/* header */
header{
    background-color: white;
    position: fixed;
   top: 0;
   left: 0;
   right: 0;
   box-shadow: 5px 8px 8px #d1d1d13B;
   z-index: 1000;
}
header .top_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
header .top_header .logo{
    width: 140px;
}
header .top_header .search_box{
    width: 600px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg-color);
}
header .top_header .search_box input{
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    
    background-color: var(--bg-color);
}
header .top_header .search_box .select_box{
  position: relative;
}
header .top_header .search_box .select_box::after{
    content: ' ';
    position: absolute;
    right: 0;
    top: 50%;
     transform: translateY(-50%);
    width: 1px;
    height: 50%;
background-color:  #b9b9b9;
} 
header .top_header .search_box select{
    height: 55px;
    width: 200px;
   background: var(--bg-color);
font-size: 16px;
cursor: pointer;
padding-left: 10px;
padding-right: 10px;    
}
header .top_header .search_box button{
    height: 55px;
width: 60px;
background-color: var(--main-color);
font-size: 18px;
cursor: pointer;
}
header .top_header .search_box button i{
    color: white;
}
header .top_header .header_icons{
    display: flex;
    gap: 30px;
}
header .top_header .header_icons .icon{
    position: relative;
    cursor: pointer;
}
header .top_header .header_icons .icon i{
    font-size: 24px;
}
header .top_header .header_icons .icon .count{
    position:absolute ;
    top: -10px ;
    right: -10px;
    width: 20px; ;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 100%;
}
header .bottom_header {
    border-top: 1px solid var(--border-color);
}
header .bottom_header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header .bottom_header nav {
display: flex;
align-items: center;
gap: 50px;
height: 60px;
}
header .bottom_header .category_nav{
   width: 220px;
   height: 100%;
   position: relative;
}
header .bottom_header .category_nav .category_btn{
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--main-color);
padding: 0 15px;
cursor: pointer;
}
header .bottom_header .category_nav .category_btn p{
    color: white;
    font-size: 15px;
    font-weight: 600;
}
header .bottom_header .category_nav .category_btn i{
    color: white;
}

header .bottom_header .category_nav .category_nav_list{
    
position: absolute;
top: 100%;
left: 0;
width:100% ;
border: 1px solid #999;
border-top: 0;
display: flex;
flex-direction: column;
clip-path: polygon( 0 0,100% 0,100% 0 ,0 0);
transition: 0.3s ease-in-out ;
}
header .bottom_header .category_nav .category_nav_list.active{
    clip-path: polygon( 0 0,100% 0,100% 100% ,0 100%);
}
header .bottom_header .category_nav .category_nav_list a{
padding: 14px 10px ;
border-bottom: 1px solid var(--border-color);
font-size: 14px;
color: var(--color-heading);
}
header .bottom_header .category_nav .category_nav_list a:last-child{
    border-bottom: 0;
}
header .bottom_header .category_nav .category_nav_list a:hover{
background-color: #d0d0d0;
}
header .bottom_header .nav_links {
display: flex;
gap: 35px;
}
header .bottom_header .nav_links li a {
    color: var(--color-heading);
    transition: 0.3s;
} 
header .bottom_header .nav_links li.active a,
header .bottom_header .nav_links li:hover a{

    color: var(--main-color);
}

 /* slide */
 .slider{
    position: relative;
 }
 .slider .container{
    display: flex;
    justify-content: space-between;
 }
  .slider .container .slide_swp{
    width: 75%;
    overflow: hidden;
    position: relative;
  }
  .swiper-wrapper {
    height: auto !important;
  }
 .slider .container .slide_swp .swiper-pagination span{
    background: #fff;
    opacity: 1;
 }
 .swiper-pagination-bullet-active{
    background: var(--main-color) !important;
    width: 34px !important;
    height: 8px !important;
    border-radius: 30px !important;
 }

 .slider .banner_2 {
    width: 23%;
    height: 100%;
    object-fit: cover;
 }
 .slider .banner_2 a{
    height: 100%;
    width: 100%;
 }

  /* banners 4 */
  .banners_4{
    margin: 40px 0;
  }
   .banners_4 .container{
    display: flex;
    justify-content: space-between;
   }
       .banners_4 .container .box{
        width: 24%;
        background: url(../img/bg_banner3.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 12px 10px;
        position: relative;
    
    }
     .banners_4 .container .box img{
        width: 100px;
        transition: 0.3s;
     }
      .banners_4 .container .box:hover img{
        scale: 1.05;
      }
       .banners_4 .container .box h5{
        font-size: 16px;
       }
        .banners_4 .container .box .sale {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 7px 0;
        }
        .banners_4 .container .box .sale span{
            font-size: 25px;
            font-weight: bold;
        
        }
        .banners_4 .container .box h6{
            font-size: 14px;
            font-weight: bold;
        }
        .banners_4 .container .box .link_btn {
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
        }
          /* start slide */
        .slide{
            margin-top: 70px;
        }
        .top_slide{
            position: relative;
            margin-bottom: 20px;
            border-bottom: 3px solid var(--main-color);
        }
        .top_slide h2{
            position: relative;
            text-transform: uppercase;
            background: var(--main-color);
            color: var(--white-color);
            font-size: 18px;
            padding: 10px 40px;
            display: flex;
            align-items: center;
            gap: 10px;
            width: max-content;
        }
        .top_slide h2::before{
            content: '';
            position: absolute;
           width: 0;
           height: 0;
           top: 0;
           z-index: 9;
           border-left: 20px solid transparent;
           background: #fff;
           left: 0;
           border-bottom: 20px solid #e26e02;
        }
        .top_slide h2 i{
            color: var(--white-color);
        }
        .slide .container {
            position: relative;
        }
         .slide .container .mySwiper{
            padding: 10px 0;
         }
         .slide .container .mySwiper .btn_Swip{
            position: absolute;
            top: 30px;
            right: 0;
            background: var(--bg-color);
            color: var(--color-heading);
            font-weight: bold;
            border-radius: 5px;
            height: 35px;
            width: 35px;
            border: 1px solid var(--border-color);
         }
         .slide .container .mySwiper .btn_Swip::after{
            font-size: 12px;
         }
         .slide .container .mySwiper .btn_Swip.swiper-button-prev{
            left: calc(100% - 80px);
         }




        /* product card style */
        .mySwiper{
            overflow: hidden;
        }
        .product{
            background: #fff;
            padding: 20px;
            box-shadow: 5px 5px 10px #94949428;
            border: 1px solid var(--border-color);
            border-radius: 5px;
            position: relative;
        }
        .product .sale_present{
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
            background: #ed0505;
            color: var(--white-color);
            padding: 4px 10px;
            font-size: 13px;
        }
        .product .img_product{
            position: relative;
            height:  180px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
        }
        .product:hover .img_product{
            scale: 1.1;
        }
        .product .name_product{
            margin-bottom: 10px;
            color: var(--color-heading);
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .product .name_product a:hover{
            text-decoration: underline;
        }
        .stars{
            margin-bottom: 10px;
        }
        .stars i{
            color: var(--main-color);
            font-size: 14px;
        }
        .price{
            display: flex;
            align-items: center;
            gap: 12px;

        }
        .price p{
            color: var(--main-color);
            font-weight: bold;
            font-size: 18px;

        }
        .price .old_price{
            color: var(--p-color);
            text-decoration: line-through;
            font-size: 13px;
            font-weight: normal;
        }

        .product .icons{
        display: flex;
        gap: 10px;
        margin-top: 15px;
        }
        .product .icons .icon_product{
            width: 40px;
            height: 40px;
            border: 1px solid var(--border-color);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
        }
        .product .icons .icon_product:hover{
            background-color: var(--main-color);
        }
        .product .icons .icon_product i{
            font-size: 14px;
        }
        .product .icons .icon_product:hover i{
            color: var(--white-color);
        }
        .product .icons .btn_add_cart {
            background: var(--main-color);
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--white-color);
            padding: 5px 5px;
            cursor: pointer;
            transition: 0.3s;
            border: 1px solid var(--main-color);
        }
        .product .icons .btn_add_cart i{
            color: var(--white-color);
        }
        .product .icons .btn_add_cart.active{
            color: var(--color-heading);
            background: transparent;
        }
        .product .icons .btn_add_cart.active i{
            color: var(--main-color);
        }
        .product .icons .btn_add_cart:hover{
            scale: 1.05;
            background: #f47600;
        }

/* banners banners 4 */
.banners{
    margin: 50px 0;
  }
.banners .banners_boxs{
display: flex;
justify-content: space-between;
}
    
.banners .banners_boxs .box{
        width: 49%;
    }
.banners .banners_boxs.banner_3_img .box{
    width: 32%;
}

/* start footer  */
footer{
    background: var(--color-heading);

}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
footer .container .big_row{
    width: 30%;
}
footer .container .big_row .logo_footer{
    width: 150px;
}
footer .container .big_row p{
    width: 90%;
    color: #b1b1b1;
    font-size: 14px;
    line-height: 1.5;
    margin: 15px 0;
}
footer .container .big_row .icons_footer{
    display: flex;
    gap: 10px;
}
footer .container .big_row .icons_footer a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    border-radius: 3px;
    position: relative;
    top: 0;
    transition: 0.3s;
}
footer .container .big_row .icons_footer a:hover{
    top: -5px;
}
footer .container .big_row .icons_footer a i{
    color: var(--white-color);
    font-size: 20px;
}

footer .container .row{
    width: 22%;
}
footer .container .row  h4{
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 18px;
}
footer .container .row .links{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .container .row .links a{
    color: #b1b1b1;
    font-size: 14px;
    position: relative;
    left: 0;
    transition: 0.3s;
}
footer .container .row .links a i {
    color: var(--main-color);
    font-size: 14px;
    margin-right: 5px;
}

footer .container .row .links a:hover{
    left: 8px;
    color: var(--main-color);
}
footer .bottom_footer{
   background: #1d1f22;
}
footer .bottom_footer .container{
    text-align: center;
    padding: 15px 0;
}
footer .bottom_footer p{
   color: var(--white-color);
}
footer .bottom_footer .payment_methods{
    width: 350px;
}

/* cart shop */

.cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1100;
    background: var(--white-color);
    border-left: 1px solid var(--border-color);
    width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart .top_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .top_cart .close_cart i {
    cursor: pointer;
    font-size: 25px;
}
.cart .top_cart h3{
    font-size: 18px;
}
.cart .top_cart h3 span{
    color: var(--color-heading);
}
.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    height: 100%;
    overflow-y: auto;
   
}
.cart .items_in_cart .item_cart{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 125px;
    border-bottom: 1px solid var(--border-color);
}
.cart .items_in_cart .item_cart:last-child{
    border-bottom: 0;
    margin-bottom: 0;
}
.cart .items_in_cart .item_cart img{
    width: 70px;
}
.cart .items_in_cart .item_cart h4{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.cart .items_in_cart .item_cart .delete_item i{
    background: var(--white-color);
    font-size: 22px;
    cursor: pointer;
   transition: 0.3s;
}
.cart .items_in_cart .item_cart .delete_item i:hover{
    color:#e51a1a;
}
.cart .items_in_cart .item_cart  .quantity_control{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
.cart .items_in_cart .item_cart  .quantity_control span{
    font-size: 18px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart .items_in_cart .item_cart  .quantity_control button{
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    border: var(--border-color);
}