@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
text-decoration: none;
font-family: 'Inter', sans-serif;
}
:root {
    --main-color: #ff8716;
    --p-color: #7b7b7b;
    --bg-color: #f3f3f3;
    --white-color: #fff;
    --color-heading: #121416;
    --border-color: #E5E5E5D5;
    --sale-color: #e51a1a;
}
span{
color: var(--main-color);
}
p{
color: var(--p-color);
}
h1,h2,h3,h4,h5,h6{
color: var(--color-heading);
font-family: 'DM Sans', sans-serif;
}